.home {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 88px;
  padding-right: 88px;
  @include desktop{
    padding-left: 0;
    padding-right: 0;  }
  &-titleName{
    display: none; 
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    @include desktop{
    display: flex;
    }
    &--name{
    color: var(--white);
    font-family:  var(--fontConcertOne);
    font-size: 28vw;}}

  &-bar {
    //display: flex;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  &-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 87vh;
    padding: 0 24px;
    @include desktop{
    justify-content: start;
    min-height: 70vh;

  }
    &--title{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    letter-spacing: 0;
    text-transform: uppercase;
    font-family:  var(--fontConcertOne);
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
    @include desktop{
      font-size: 10vw;
    }
      &__text{color: var(--white);}
      &__symbol{color: var(--primary-200);}
    }
    &--introduce{
      display: flex ;
      flex-direction: column;
      align-items: self-start;
      gap: 40px;
      padding-top: 24px;
      padding-bottom: 40px;
      @include desktop{
        gap: 34px;
        width: 64%;

      }
    
      &__text{
        color: var(--dark-500);
        font-size: 18px;
      }
      &__bright{
        color: var(    --white);
      }
    }
    &--btn{
      display: flex;
      
    z-index: 1;
    letter-spacing: .8px;
    border-radius: 8px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 16px 24px;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: 1.35;
    position: relative;
    color: var(--white);
      background: var(--primary-100);
    @include smallTablet{
      width: 100%;
      justify-content: center;
    }
    }
  &--img{width: 30px;
    height: 30px;}
  h2{color: var(--white);
    letter-spacing: .5px;
    font-size: 32px;
    font-family:  var(--fontConcertOne);
    font-style: italic;
    line-height: 1.1;}  
  }

  &-right {
    position: relative;
    //width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    .headshot {
      position: absolute;
      width: 120%;
      height: 130%;
    }

    &--img {
      width: 200px;
      //height: 80%;
    }
  }
  &-introductionBar{
    display: flex;
    flex-direction: column;
    gap: 128px;
    padding: 88px 0;
    @include desktop{    
      padding: 64px 24px;}
}
&-worksDisplay{
  grid-column-gap: 44px;
  grid-row-gap: 64px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding: 0;
  display: grid;
  transform: perspective(600px);
  @include desktop{    
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    grid-row-gap: 32px;

  }
}
}


.marquee {
  width: 120%;
  padding-top: 16px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.marquee__inner {
  display: flex;
  justify-content: space-evenly;
  gap: 14px;
  animation: marquee 6s linear infinite;
  min-width: 100%; 
}

.marquee__inner img {
  margin-right: 32px;
  height: auto;
  width: auto;
  max-height: 100px;
  display: block;
}
.marquee-gradient{
  position: absolute;
  background-image: linear-gradient(90deg, var(--dark-100), #12121200 30%, #12121200 80%, var(--dark-100));
  width: 100.5%;
  inset: 0%;}
@keyframes marquee {
  0% {
    transform: translateX(0);  }
  100% {
    transform: translateX(-100%); /* 平移到內容的一半 */
  }
}
