@import "./reset";
html,
body {
  // height: 100%;
  font-family:
    "Outfit",
    "微軟正黑體",
    Microsoft JhengHei,
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
  overflow-x: hidden;
}

@font-face {
  font-family: 'TradeGothicLTPro';
  src: url('@/assets/font/TradeGothicLTPro-Cn18.185f3714.woff2') format('woff2');
  font-weight: 400;  // 正常字重
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothicLTPro';
  src: url('@/assets/font/TradeGothicLTPro-Bold.484908e0.woff2') format('woff2');
  font-weight: 600;  // 輕字重
  font-style: normal;
}


.layout-default {
  //display: flex;
  //flex-direction: column;
  //padding: 0;
  min-height: 100vh;
  background-color: $background-color;
  &-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 1rem;
    color: $title-color;
    //font-family: TradeGothicLTPro;
    h1 {
      font-size: 2rem;
      line-height: 1;
      letter-spacing: 3.5px;
      //font-weight: bold;
    }
    h2 {
      font-size: 1rem;
    }
  }
}
